html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    background-color: #eeeeee;
    color: var(--font-color);
    font-family: 'Manrope', sans-serif;
    line-height: 1.3;
    margin: 0;
}

ul, li, a, a:link, a:visited, a:link:active, a:visited:active {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 2em;
}

section, aside {
    padding: 1em;
}

button {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
}

input {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
}

p {
    margin: 0;
    line-height: 1.6em;
    padding: 2em;
}

/* RESETS & GLOBALS*/

:root {
    --con-header: #212121;
    --font-color: #000000;
}

/* VARIABLES */

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

/* GOOGLE ICON STYLE */

header {
    background: var(--con-header);
    max-height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1em 0;
}

header > img {
    max-height: 50px;
    margin-right: 2em;
}

header > h1 {
    font-size: 2em;
    font-weight: 800;
}

.mobile-nav {
    display: none;
}

#mobile-menu, #hamburger {
    display: none;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background: var(--con-header);
    color: white;
}

nav > ul > li:hover {
    color: #b1b1b1;
    transition: 300ms;
}

@media (max-width: 568px) {

    header {
        justify-content: space-evenly;
    }

    header > img {
        margin-right: 0;
    }

    nav {
        display: none;
    }

    .mobile-nav {
        position: absolute;
        bottom: 50%;
        right: 0%;
        text-align: right;
        background: var(--con-header);
        padding: 2em 0.8em;
        border-radius: 15px;
        line-height: 2em;
    }

    header > .mobile-nav {
        display: none;
        z-index: 1;
    }

    #mobile-menu {
        display: none;
    }

     #hamburger {
        display: block;
    }

    #mobile-menu:checked + .mobile-nav {
        display: block;
    }

}

/* HEADER AND NAV */

body {
    display: flex;
    flex-direction: column;
}

footer {
    background: var(--con-header);
    bottom: 0;
    min-height: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-sm {
    display: flex;
    align-items: center;
    color: white;
}

.desktop-sm > h1 {
    font-weight: 200;
    font-size: 1em;
    margin-left: 0.3em
}

.mobile-foot {
    display: flex;
    align-items: center;
    color: white;
}

.mobile-foot > h1 {
    font-weight: 200;
    font-size: 1em;
    margin-left: 0.3em
}

@media (max-width: 568px) {

    footer {
        background: var(--con-header);
        position: fixed;
        bottom: 0%;
        max-height: 50px;
        height: 100%;
        max-width: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .desktop-sm {
        display: none;
    }

    .mobile-foot {
        display: flex;
        align-items: center;
        color: white;
    }

    .mobile-foot > h1 {
        font-weight: 200;
        font-size: 1em;
        margin-left: 0.3em
    }

}

/* FOOTER */

main:not(:last-child) {
    padding-top: 2em;
}

.card-container {
    display: flex;
    width: 60%;
    max-height: 30em;
    margin: auto;
    padding-top: 1em;
}

.card-services-text {
    flex: 2;
    background: #ffffff;
    border-radius: 15px;
    padding: 1em 3em;
}

.card-services-img {
    flex: 1;
    aspect-ratio: 1 / 1; 
    background-image: url(src/placeholder-img-500.jpg);
    background-size: cover;
    position: relative;
    left: -15px;
}

@media (max-width: 568px) {
    .card-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        padding-top: 1em;
    }

    .card-services-text {
        flex: 1;
        background: #ffffff;
        border-radius: 15px;
        padding: 1em 3em;
        height: 150px;
        order: 2;
    }
    
    .card-services-img {
        flex: 1;
        aspect-ratio: 1 / 1; 
        background-image: url(src/placeholder-img-500.jpg);
        background-size: cover;
        position: relative;
        left: 0;
        bottom: -10px;
        min-height: 250px;
    }
}

/* CARDS FOR SERVICES */

.cta {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    height: 100%;
    padding: 3em 0;
}

.newsletter-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

input {
    height: 3em;
    width: 20em;
    background: var(--con-header);
    color: white;
}

button {
    height: 3em;
    width: 8em;
    color: white;
    font-weight: 800;
    background: linear-gradient(45deg, #212121, #1b1b1b);
}

.input-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-btn > input, button {
    display: inline-block;
    padding: 0 2em;
    margin-left: 0.3em;
}

.newsletter-cta > p {
    color: #464646;
    max-width: 400px;
    text-align: center;
    line-height: 1.6em;
}

.newsletter-cta > h1 {
    font-size: 2.5em;
    padding: 1em;
    padding-top: 0;
}

/* CTA Newsletter */

summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

/* INDEX COMPLETE */

.sm-structure {
    display: flex;
    padding: 10em;
    margin: auto;
    height: 100vh;
}

.sm-column {
    padding: 5em;
}

/* SITEMAP COMPLETE */

.blog-title {
    margin: 5em;
}

.blog-content {
    display: flex;
    padding: 3em 10em;
    height: 70vh;
}

.blog-content-main {
    flex: 2;
    padding: 0 5em;
}

.blog-content-side {
    flex: 1;
}

.blog-content-side > img {
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 1em;
}

.blog-content-side > p {
    max-width: 250px;
    text-align: justify;
    margin-top: 1em;
}

.blog-content-main > p:not(:first-child) {
    margin-top: 1em;
}

/* BLOG COMPLETE */

.form-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
    height: 80vh;
    margin: 0 6em;
    width: 50%;
}

label {
    margin: 1em;
}

.submit-form {
    margin-top: 1em;
    align-self: flex-end;
}

/* WEBFORM COMPLETE */