.blog-title {
    margin: 2em;
}

.blog-content {
    display: flex;
    padding: 3em 10em;
    margin: auto;
}

.blog-content-main {
    flex: 2;
    padding: 0 5em;
}

.blog-content-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content-side > img {
    max-height: 250px;
    max-width: 250px;
}

@media (max-width: 568px) {

    .blog-content {
        display: flex;
        flex-direction: column;
        padding: 1em;
        height: 100%;
    }
    
    .blog-content-main {
        flex: 2;
        padding: 0 1em;
        margin-bottom: 3em;
    }
    .blog-content-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .blog-content-side > img {
        max-height: 250px;
        max-width: 250px;
    }

}