.bg-screen {
    background: url(../src/desktop-img.jpg), var(--con-header);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
}

header {
    max-height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1em;
    text-shadow: black 2px 3px;
}

img {
    max-height: 50px;
}

.mobile-nav {
    display: none;
}

#mobile-menu, #hamburger {
    display: none;
    cursor: pointer;
    margin: 0;
}

nav {
    background: hsla(0, 0%, 0%, 0.493);
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    color: white;
}

nav > ul > li:hover {
    color: #b1b1b1;
    transition: 300ms;
}

@media (max-width: 568px) {

    .bg-screen {
        background: url(../src/desktop-img.jpg), var(--con-header);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        background-blend-mode: screen;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header > img {
        margin-right: 0;
    }

    .fi-logo {
        margin-left: 0.6rem;
    }

    nav {
        display: none;
    }

    .mobile-nav {
        background: var(--con-transparent);
        position: fixed;
        bottom: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        text-align: center;
        line-height: 4em;
        font-weight: 800;
        padding: 50% 0.8em;
        animation: drop 1s ease-in-out;
    }

    @keyframes drop {
        from {
            transform: translateY(-100%);
            opacity: 0.1;
        }

        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    header > .mobile-nav {
        display: none;
        z-index: 1;
    }

    #mobile-menu {
        display: none;
    }

     #hamburger {
        display: block;
        cursor: pointer;
    }

    #hamburger:hover {
        transform: scale(1.3);
    }

    .active {
        animation: pulse 1s infinite;
        -webkit-animation: pulse 1s infinite;
        -moz-animation: pulse 1s infinite;
        -o-animation: pulse 1s infinite;
    }

    @keyframes pulse {
        from {
            transform : scale(1);
            opacity   : 1;
        }
        50% {
            transform : scale(0.75);
            opacity   : 0.25;
        }
        to {
            transform : scale(1);
            opacity   : 1;
        }
    }

    #mobile-menu:checked + .mobile-nav {
        display: block;
    }

}
