main:not(:last-child) {
    padding-top: 2em;
}

.card-container {
    display: flex;
    width: 60%;
    max-height: 30em;
    margin: auto;
    padding-top: 1em;
}

.card-services-text {
    flex: 2;
    background: #ffffff;
    border-radius: 15px;
    padding: 1em 3em;
}

.card-services-img {
    flex: 1;
    aspect-ratio: 1 / 1; 
    background-image: url(../src/placeholder-img-500.jpg);
    background-size: cover;
    position: relative;
    left: -15px;
}

@media (max-width: 568px) {
    .card-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        padding-top: 1em;
    }

    .card-services-text {
        flex: 1;
        background: #ffffff;
        border-radius: 15px;
        padding: 1em 3em;
        height: 150px;
        order: 2;
    }
    
    .card-services-img {
        flex: 1;
        aspect-ratio: 1 / 1; 
        background-image: url(src/placeholder-img-500.jpg);
        background-size: cover;
        position: relative;
        left: 0;
        bottom: -10px;
        min-height: 250px;
    }
}

/* CARDS FOR SERVICES */

.cta {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    height: 100%;
    padding: 3em 0;
}

.newsletter-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

input {
    height: 3em;
    width: 20em;
    background: var(--con-header);
    color: white;
}

button {
    height: 3em;
    width: 8em;
    color: white;
    font-weight: 800;
    background: linear-gradient(45deg, #212121, #1b1b1b);
}

.input-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-btn > input, button {
    display: inline-block;
    padding: 0 2em;
    margin-left: 0.3em;
}

.newsletter-cta > p {
    color: #464646;
    max-width: 400px;
    text-align: center;
    line-height: 1.6em;
}

.newsletter-cta > h1 {
    font-size: 2.5em;
    padding: 1em;
    padding-top: 0;
}

/* CTA Newsletter */

summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}