.sm-structure {
    display: flex;
    margin: auto;
}

.sm-column {
    padding: 5em;
}

@media (max-width: 568px) {
    .sm-structure {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .sm-column {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}