.web-main {
    display: flex;
    flex-direction: column;
    padding: 3em;
    margin: auto 10%;
    min-height: 82vh;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
    margin: 0 3em;
    width: 60%;
}

label {
    margin: 1em;
    width: 50%;
}

input:focus {
    background: rgb(109, 109, 109);
}

input {
    min-width: 100%;
}

.submit-form {
    margin-top: 1em;
    align-self: flex-end;
}

.mobile-input {
    display: none;
}

select {
    border-radius: 0;
    border: 0;
    height: 3em;
    width: 10em;
    background: var(--con-gradient);
    color: grey;
    padding: 0 1em;
    min-width: 90%;
}

@media (max-width: 568px) {

    .web-main {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: 1em;
    }
    
    .form-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobile-input {
        display: block;
        margin-bottom: 1em;
        width: 100%;
    }

    label {
        display: none;
    }

    select {
        margin-bottom: 1em;
        min-width: 100%;
    }
    
    .desktop-input {
        display: none;
        min-width: 100%;
        margin-bottom: 1em;
    }
    
    .submit-form {
        min-width: 100%;
    }
}